

body{
  padding-left: 50px;
  padding-right: 50px;
}

nav ul li{

padding : 0 40px 0 40px;

}



nav ul li a:hover {
  color: red;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-top: 10px;
}

h1{
  text-align: center;
  padding: 50px;
  padding-bottom: 0px;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}


.dash{
  width: 2%;
  height: 3px;
}

.img {
  height: 700px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding-top: 10px;
}


#hp  {
float: right;
 margin: 0 0 0 20px;
 width: 30%;
 height: auto;
}

.welcome2{
  padding-left: 150px;
  padding-right: 150px;
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-top: 10px;
  margin-top: 50px;

}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 30px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.circular--square { border-radius: 50%; }


.copyright-img{
  width: 5%;
    height: 15px;
}

.name{
  color: #e58d41;
}
